# Dependencies
node_modules/

# Build
.nuxt/
.output/
.generate/
dist/

# Environment
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/settings.json
.idea/

# Prisma
prisma/dev.db
prisma/dev.db-journal

# Uploads
public/uploads/
